{% extends '_layout/dashboard/layout.twig' %}

{% block title 'Gestion des notes' %}

{% block javascripts %}
    <!-- START::JSColor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.4.6/jscolor.min.js"></script>
    <script>
        // let's set defaults for all color pickers
        jscolor.presets.default = {
            width: 141,               // make the picker a little narrower
            previewSize: 40,          // make the color preview bigger
            palette: [
                '#000000', '#7d7d7d', '#870014', '#ec1c23', '#ff7e26',
                '#fef100', '#22b14b', '#00a1e7', '#3f47cc', '#a349a4',
                '#ffffff', '#c3c3c3', '#b87957', '#feaec9', '#ffc80d',
                '#eee3af', '#b5e61d', '#99d9ea', '#7092be', '#c8bfe7',
            ],
        };
    </script>
{% endblock %}

{% block body %}
<!-- START .cards -->
<div class="section--admin">
    {{ include('_notifications.twig') }}
    <div class="admin-content">
        <form method="post" class="form-big">
            <div class="card">
                <div class="card-header">
                    <h5>Nouvelle note</h5>
                </div>
                <div class="card-body">
                    {{ include('sticky/admin/_form.twig') }}
                    {{ form.submitSingle('primary', 'Enregistrer') | raw }}
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END .cards -->
{% endblock %}