{% extends '_layout/dashboard/layout.twig' %}

{% block title %}Gestion des paramètres du site internet{% endblock %}

{% block body %}
    <!-- START .cards -->
    <div class="section--admin">
        <div class="container">
            <div class="admin-content">
                {{ include('_notifications.twig') }}
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Thèmes de <span class="text-primary">{{ getenv('APP_NAME') }}</span></h4>
                            <span>Ici, sont listés les thèmes qu'utilise l'application.</span>
                        </div>
                        <div class="card-body">
                            <div class="admin-form mg-tb-3">
                                <div class="grid-12">
                                {% for folder in folders %}
                                    <div class="col-3_sm-12">
                                        <div class="thumbnail">
                                            <div class="thumbnail__title">
                                                <span class="t__name">{{ folder }}</span>
                                            </div>
                                            <div class="thumbnail__content text-center">
                                                <a style="font-size: 4em" href="/admin/setting/css/{{ folder }}" title="Editer les fichiers CSS de ce thème"><i class="ri-layout-left-fill"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END .cards -->
{% endblock %}