{% extends '_layout/dashboard/layout.twig' %}

{% block title %}Modifier une société{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css" integrity="sha512-okE4owXD0kfXzgVXBzCDIiSSlpXn3tJbNodngsTnIYPJWjuYhtJ+qMoc0+WUwLHeOwns0wm57Ka903FqQKM1sA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ getenv('APP_THEME') }}/js/opendata.js"></script>
{% endblock %}

{% block body %}
    <!-- START .cards -->
    <div class="section--admin">
        <div class="container">
            <div class="admin-content">
                {{ include('_notifications.twig') }}
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Données de la société</h4>
                    </div>
                    <div class="card-body">
                        <div class="admin-form">
                            <form class="form-big" method="post">
                                {{ include('society/admin/_form.twig') }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END .cards -->
{% endblock %}