{% extends '_layout/dashboard/layout_login.twig' %}

{% block body %}
    <form method="post" class="form-big">
    <div class="auth-login-header mg-b-2">
        <div class="text-center mg-b-2">
            <img class="img-fluid" style="width:40%;border-radius:50%;" src="{{ avatar }}" alt="">
        </div>
        <div class="badge-user">
            <div>
                <h5>{{ user.fullname }}</h5>
                <p class="nomg">Entrez votre mot de passe Proaxive</p>
                <a style="float:right;" href="/lostpassword"><small>Mot de passe oublié ?</small></a>
            </div>
            <div>
                <span class="badge-user--icon">
                    <a href="/logout"><span><i class="ri-logout-box-line"></i></span></a>
                </span>
            </div>
        </div>
    </div>
    {{ include('_notifications.twig') }}

        <div class="form-group">
            <label for="password" class="form-label d-none">Votre mot de passe</label>
            <input type="password" name="password" id="password" class="form-input underlined" placeholder="Votre mot de passe">
        </div>
        <button type="submit" class="btn btn-primary w100"><i class="ri-checkbox-circle-line"></i> Se connecter</button>
        <div class="form-group text-center mg-t-05">
            <input type="checkbox" name="remember"> Se souvenir de moi<br>
            <small>Dernnière connexion : {{ user.lastvisit | date('d/m/Y') }}</small>
        </div>
    </form>
{% endblock %}