{% extends '_layout/dashboard/layout_login.twig' %}

{% block body %}
    <div class="auth-login-header mg-b-2">
        <div class="text-center mg-b-2">
            <img class="img-fluid" style="width:40%;" src="{{ getenv('APP_THEME') }}/logo_proaxive.png" alt="">
        </div>
        <h5>Mot de passe oublié</h5>
        <p class="nomg">Afin de réinitialiser votre compte, merci d'entrer votre nouveau mot de passe</p>
    </div>
    {{ include('_notifications.twig') }}
    <form method="post" class="form-big">
        {{ form.password('password', '<i class="icofont-ui-password"></i> Mot de passe', '') | raw }}
        {{ form.password('password_confirm', '<i class="icofont-ui-password"></i> Confirmer le mot de passe', '') | raw }}
        <button type="submit" name="" class="btn btn-primary w100"><i class="ri-checkbox-circle-line"></i> Réinitialiser</button>
    </form>
{% endblock %}