<div class="card">
    <div class="card-header">
        <h4 class="card-title">La maintenance n'a pas encore débutée</h4>
    </div>
    <div class="card-body">
        {{ viewAlert('info', "<i class=\"ri-information-line\"></i> Votre équipement a bien été récupéré, mais l'intervention n'a pas encore débutée. Ca ne devrait plus être long, n'hésitez pas à revenir régulièrement.<br>
") | raw }}
    </div>
</div>
