<div class="card-aside card-aside-left">
    <div class="card-inner border-bottom">
        <h3>Interventions</h3>
    </div>
    <div class="card-inner nopg card-menu-js">
        <ul class="link-list-menu" id="tabs">
            <li>
                <a href="#tab1">
                    <span><i class="ri-profile-fill"></i></span>
                    Client et équipement
                </a>
            </li>
            <li>
                <a href="#tab2">
                    <span><i class="ri-align-center"></i></span>
                    Contenu de l'intervention
                </a>
            </li>
            <li>
                <a href="#tab3">
                    <span><i class="ri-information-fill"></i></span>
                    Notes et observations
                </a>
            </li>
            <li>
                <a href="#tab4">
                    <span><i class="ri-settings-2-fill"></i></span>
                    Paramètres
                </a>
            </li>
        </ul>
    </div>
</div>